node_modules/
.DS_Store
Thumbs.db
*.log
.system_generated/
scratch/
www/
android/.gradle/
android/build/
android/app/build/
android/caches/
android/daemon/
android/native/
android/notifications/
android/android/
.gradle/
.vscode/
